.intro,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url("../images/main.png");
    background-size: cover;
    background-position: center center;
}

.toggleButton {
    border: 0ch;
    cursor: pointer;
    background-color: #fff;
    text-decoration: underline;
}

#absolute-title {
    color: #fff;
}
